.btn-facebook {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-image: linear-gradient(rgb(59, 89, 152), rgb(19, 55, 131)); background-repeat: repeat-x; background-color: rgb(43, 75, 144);
}
.btn-facebook:hover {
	color: rgb(255, 255, 255); background-color: rgb(19, 55, 131);
}
.btn-facebook:focus {
	color: rgb(255, 255, 255); background-color: rgb(19, 55, 131);
}
.btn-facebook:active {
	color: rgb(255, 255, 255); background-color: rgb(19, 55, 131);
}
.active.btn-facebook {
	color: rgb(255, 255, 255); background-color: rgb(19, 55, 131);
}
.disabled.btn-facebook {
	color: rgb(255, 255, 255); background-color: rgb(19, 55, 131);
}
[disabled].btn-facebook {
	color: rgb(255, 255, 255); background-color: rgb(19, 55, 131);
}
.btn-facebook:active {
	
}
.active.btn-facebook {
	
}
.btn-twitter {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-image: linear-gradient(rgb(45, 173, 220), rgb(2, 113, 191)); background-repeat: repeat-x; background-color: rgb(28, 149, 208);
}
.btn-twitter:hover {
	color: rgb(255, 255, 255); background-color: rgb(2, 113, 191);
}
.btn-twitter:focus {
	color: rgb(255, 255, 255); background-color: rgb(2, 113, 191);
}
.btn-twitter:active {
	color: rgb(255, 255, 255); background-color: rgb(2, 113, 191);
}
.active.btn-twitter {
	color: rgb(255, 255, 255); background-color: rgb(2, 113, 191);
}
.disabled.btn-twitter {
	color: rgb(255, 255, 255); background-color: rgb(2, 113, 191);
}
[disabled].btn-twitter {
	color: rgb(255, 255, 255); background-color: rgb(2, 113, 191);
}
.btn-twitter:active {
	
}
.active.btn-twitter {
	
}
.btn-github {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); color: rgb(0, 0, 0); text-shadow: 0px 0.7px 0px rgba(0,0,0,0.1); background-image: linear-gradient(rgb(250, 250, 250), rgb(230, 230, 230)); background-repeat: repeat-x; background-color: rgb(242, 242, 242);
}
.btn-github:hover {
	color: rgb(0, 0, 0); background-color: rgb(230, 230, 230);
}
.btn-github:focus {
	color: rgb(0, 0, 0); background-color: rgb(230, 230, 230);
}
.btn-github:active {
	color: rgb(0, 0, 0); background-color: rgb(230, 230, 230);
}
.active.btn-github {
	color: rgb(0, 0, 0); background-color: rgb(230, 230, 230);
}
.disabled.btn-github {
	color: rgb(0, 0, 0); background-color: rgb(230, 230, 230);
}
[disabled].btn-github {
	color: rgb(0, 0, 0); background-color: rgb(230, 230, 230);
}
.btn-github:active {
	
}
.active.btn-github {
	
}
.btn-pinterest {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-image: linear-gradient(rgb(214, 34, 41), rgb(171, 23, 30)); background-repeat: repeat-x; background-color: rgb(197, 30, 37);
}
.btn-pinterest:hover {
	color: rgb(255, 255, 255); background-color: rgb(171, 23, 30);
}
.btn-pinterest:focus {
	color: rgb(255, 255, 255); background-color: rgb(171, 23, 30);
}
.btn-pinterest:active {
	color: rgb(255, 255, 255); background-color: rgb(171, 23, 30);
}
.active.btn-pinterest {
	color: rgb(255, 255, 255); background-color: rgb(171, 23, 30);
}
.disabled.btn-pinterest {
	color: rgb(255, 255, 255); background-color: rgb(171, 23, 30);
}
[disabled].btn-pinterest {
	color: rgb(255, 255, 255); background-color: rgb(171, 23, 30);
}
.btn-pinterest:active {
	
}
.active.btn-pinterest {
	
}
.btn-linkedin {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-image: linear-gradient(rgb(115, 184, 219), rgb(67, 147, 187)); background-repeat: repeat-x; background-color: rgb(96, 169, 206);
}
.btn-linkedin:hover {
	color: rgb(255, 255, 255); background-color: rgb(67, 147, 187);
}
.btn-linkedin:focus {
	color: rgb(255, 255, 255); background-color: rgb(67, 147, 187);
}
.btn-linkedin:active {
	color: rgb(255, 255, 255); background-color: rgb(67, 147, 187);
}
.active.btn-linkedin {
	color: rgb(255, 255, 255); background-color: rgb(67, 147, 187);
}
.disabled.btn-linkedin {
	color: rgb(255, 255, 255); background-color: rgb(67, 147, 187);
}
[disabled].btn-linkedin {
	color: rgb(255, 255, 255); background-color: rgb(67, 147, 187);
}
.btn-linkedin:active {
	
}
.active.btn-linkedin {
	
}
.btn-google-plus {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-image: linear-gradient(rgb(221, 75, 57), rgb(197, 55, 39)); background-repeat: repeat-x; background-color: rgb(211, 67, 50);
}
.btn-google-plus:hover {
	color: rgb(255, 255, 255); background-color: rgb(197, 55, 39);
}
.btn-google-plus:focus {
	color: rgb(255, 255, 255); background-color: rgb(197, 55, 39);
}
.btn-google-plus:active {
	color: rgb(255, 255, 255); background-color: rgb(197, 55, 39);
}
.active.btn-google-plus {
	color: rgb(255, 255, 255); background-color: rgb(197, 55, 39);
}
.disabled.btn-google-plus {
	color: rgb(255, 255, 255); background-color: rgb(197, 55, 39);
}
[disabled].btn-google-plus {
	color: rgb(255, 255, 255); background-color: rgb(197, 55, 39);
}
.btn-google-plus:active {
	
}
.active.btn-google-plus {
	
}
.btn-instagram {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-image: linear-gradient(rgb(111, 151, 182), rgb(63, 114, 155)); background-repeat: repeat-x; background-color: rgb(92, 136, 171);
}
.btn-instagram:hover {
	color: rgb(255, 255, 255); background-color: rgb(63, 114, 155);
}
.btn-instagram:focus {
	color: rgb(255, 255, 255); background-color: rgb(63, 114, 155);
}
.btn-instagram:active {
	color: rgb(255, 255, 255); background-color: rgb(63, 114, 155);
}
.active.btn-instagram {
	color: rgb(255, 255, 255); background-color: rgb(63, 114, 155);
}
.disabled.btn-instagram {
	color: rgb(255, 255, 255); background-color: rgb(63, 114, 155);
}
[disabled].btn-instagram {
	color: rgb(255, 255, 255); background-color: rgb(63, 114, 155);
}
.btn-instagram:active {
	
}
.active.btn-instagram {
	
}
